.bookmeeting{
   background-color: #b19d9d29;
   text-align: center;
   padding-top: 2rem;

   h3{
    color:#22225C;
    letter-spacing: 2px;
   }


}
.book-button{
    background-color:#22225C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
}