.footer {
    width: 100%;
    background: #000000;
    padding: 3rem;
    color: white;
    display: flex;
    justify-content: space-around;
  }

  .footer-p-div {
    width: 40%;
  }  
  .social {
    width: 30%;
    display: flex;
    justify-content: space-between;
  } 

  
  .social:hover i {
  cursor: pointer;
  }
  
  
  .social div{
      position: relative;

  }
  
// social media icon colors
a {
  color: inherit;
}
  .youtubeColor:hover {
    color: red;
  }
  .twitterColor:hover {
    color: rgb(56, 161, 243);
  }
  .gitColor:hover {
    color: rgb(88, 78, 77);
  }
  .linkedinColor:hover {
    color: blue;
  }


